# ColorLight i5 v7.0

BLOCK RESETPATHS;
BLOCK ASYNCPATHS;

# write to FLASH possible any time from JTAG:
SYSCONFIG CONFIG_IOVOLTAGE=3.3 COMPRESS_CONFIG=ON MCCLK_FREQ=62 SLAVE_SPI_PORT=DISABLE MASTER_SPI_PORT=ENABLE SLAVE_PARALLEL_PORT=DISABLE;

# write to FLASH possible from user bitstream:
# SYSCONFIG CONFIG_IOVOLTAGE=3.3 COMPRESS_CONFIG=ON MCCLK_FREQ=62 SLAVE_SPI_PORT=DISABLE MASTER_SPI_PORT=DISABLE SLAVE_PARALLEL_PORT=DISABLE;

LOCATE      COMP "clk_25m" SITE "P3";
IOBUF       PORT "clk_25m" IO_TYPE=LVCMOS33;
FREQUENCY   PORT "clk_25m" 25 MHZ;

LOCATE      COMP "led_o" SITE "U16";
IOBUF       PORT "led_o" IO_TYPE=LVCMOS25;

LOCATE COMP "P2_3"  SITE "K18";
LOCATE COMP "P2_4"  SITE "T18";
LOCATE COMP "P2_5"  SITE "R17";
LOCATE COMP "P2_6"  SITE "M17";
LOCATE COMP "P2_7"  SITE "U18";
LOCATE COMP "P2_9"  SITE "P18";

LOCATE COMP "P2_12" SITE "N18";
LOCATE COMP "P2_13" SITE "L20";
LOCATE COMP "P2_14" SITE "K20";
LOCATE COMP "P2_15" SITE "G20";

LOCATE COMP "P2_16" SITE "J20";
LOCATE COMP "P2_17" SITE "L18";
LOCATE COMP "P2_18" SITE "M18";
LOCATE COMP "P2_19" SITE "N17";

LOCATE COMP "P2_22" SITE "U17";

LOCATE COMP "P2_24" SITE "T17";
LOCATE COMP "P2_25" SITE "P17";
LOCATE COMP "P2_26" SITE "R18";
LOCATE COMP "P2_27" SITE "C18";
LOCATE COMP "P2_28" SITE "U16";

IOBUF  PORT "P2_3"  PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "P2_4"  PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "P2_5"  PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "P2_6"  PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "P2_7"  PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "P2_9"  PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "P2_12" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "P2_13" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "P2_14" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "P2_15" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "P2_16" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "P2_17" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "P2_18" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "P2_19" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "P2_22" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "P2_24" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "P2_25" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "P2_26" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "P2_27" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "P2_28" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;


########### P3 ###########

LOCATE COMP "P3_3"  SITE "D20";
LOCATE COMP "P3_4"  SITE "B19";
LOCATE COMP "P3_5"  SITE "A19";
LOCATE COMP "P3_6"  SITE "A18";
LOCATE COMP "P3_7"  SITE "C4";
LOCATE COMP "P3_9"  SITE "C3";

LOCATE COMP "P3_12" SITE "A12";
LOCATE COMP "P3_13" SITE "B1";
LOCATE COMP "P3_14" SITE "D2";
LOCATE COMP "P3_15" SITE "E2";

LOCATE COMP "P3_16" SITE "D1";
LOCATE COMP "P3_17" SITE "C1";
LOCATE COMP "P3_18" SITE "C2";
LOCATE COMP "P3_19" SITE "E3";

LOCATE COMP "P3_22" SITE "B4";

LOCATE COMP "P3_24" SITE "D3";
LOCATE COMP "P3_25" SITE "C17";
LOCATE COMP "P3_26" SITE "B18";
LOCATE COMP "P3_27" SITE "B20";
LOCATE COMP "P3_28" SITE "F20";

IOBUF  PORT "P3_3"  PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "P3_4"  PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "P3_5"  PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "P3_6"  PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "P3_7"  PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "P3_9"  PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "P3_12" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "P3_13" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "P3_14" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "P3_15" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "P3_16" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "P3_17" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "P3_18" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "P3_19" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "P3_22" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "P3_24" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "P3_25" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "P3_26" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "P3_27" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "P3_28" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

########### P6 ###########

LOCATE COMP "P6_3"  SITE "J18";
LOCATE COMP "P6_4"  SITE "P16";
LOCATE COMP "P6_5"  SITE "L4";
LOCATE COMP "P6_6"  SITE "N4";
LOCATE COMP "P6_7"  SITE "T3";
LOCATE COMP "P6_9"  SITE "T2";

LOCATE COMP "P6_12" SITE "N2";
LOCATE COMP "P6_13" SITE "V1";
LOCATE COMP "P6_14" SITE "Y2";
LOCATE COMP "P6_15" SITE "T1";

LOCATE COMP "P6_16" SITE "R1";
LOCATE COMP "P6_17" SITE "U1";
LOCATE COMP "P6_18" SITE "W1";
LOCATE COMP "P6_19" SITE "M1";

LOCATE COMP "P6_22" SITE "N3";

LOCATE COMP "P6_24" SITE "M3";
LOCATE COMP "P6_25" SITE "R3";
LOCATE COMP "P6_26" SITE "M4";
LOCATE COMP "P6_27" SITE "L5";
LOCATE COMP "P6_28" SITE "J16";

IOBUF  PORT "P6_3"  PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "P6_4"  PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "P6_5"  PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "P6_6"  PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "P6_7"  PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "P6_9"  PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "P6_12" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "P6_13" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "P6_14" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "P6_15" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "P6_16" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "P6_17" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "P6_18" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "P6_19" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "P6_22" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "P6_24" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "P6_25" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "P6_26" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "P6_27" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "P6_28" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

# HDMI
LOCATE COMP "hdmi_dp[0]" SITE "G19"; # Blue +
LOCATE COMP "hdmi_dn[0]" SITE "H20"; # Blue -
LOCATE COMP "hdmi_dp[1]" SITE "E20"; # Green +
LOCATE COMP "hdmi_dn[1]" SITE "F19"; # Green -
LOCATE COMP "hdmi_dp[2]" SITE "C20"; # Red +
LOCATE COMP "hdmi_dn[2]" SITE "D19"; # Red -
LOCATE COMP "hdmi_dp[3]" SITE "J19"; # Clock +
LOCATE COMP "hdmi_dn[3]" SITE "K19"; # Clock -

IOBUF PORT  "hdmi_dp[0]" IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT  "hdmi_dn[0]" IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT  "hdmi_dp[1]" IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT  "hdmi_dn[1]" IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT  "hdmi_dp[2]" IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT  "hdmi_dn[2]" IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT  "hdmi_dp[3]" IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT  "hdmi_dn[3]" IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE      COMP "uart_tx"       SITE "J17";
IOBUF       PORT "uart_tx"       IO_TYPE=LVCMOS33;

LOCATE      COMP "uart_rx"       SITE "H18";
IOBUF       PORT "uart_rx"       IO_TYPE=LVCMOS33;

### Flash

LOCATE COMP "flash_csn" SITE "R2";
LOCATE COMP "flash_clk" SITE "U3";
LOCATE COMP "flash_mosi" SITE "W2";
LOCATE COMP "flash_miso" SITE "V2";

IOBUF  PORT "flash_csn" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "flash_clk" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "flash_mosi" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "flash_miso" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;

###  SDRAM
# cke => VCC
# csn => GND
# DQM[0-3] => GND
LOCATE COMP "sdram_clk" SITE "B9";
LOCATE COMP "sdram_rasn" SITE "B10";
LOCATE COMP "sdram_casn" SITE "A9";
LOCATE COMP "sdram_wen" SITE "A10";
LOCATE COMP "sdram_ba[0]" SITE "B11";
LOCATE COMP "sdram_ba[1]" SITE "C8"; # GND on v6.0
LOCATE COMP "sdram_a[0]" SITE "B13";
LOCATE COMP "sdram_a[1]" SITE "C14";
LOCATE COMP "sdram_a[2]" SITE "A16";
LOCATE COMP "sdram_a[3]" SITE "A17";
LOCATE COMP "sdram_a[4]" SITE "B16";
LOCATE COMP "sdram_a[5]" SITE "B15";
LOCATE COMP "sdram_a[6]" SITE "A14";
LOCATE COMP "sdram_a[7]" SITE "A13";
LOCATE COMP "sdram_a[8]" SITE "A12";
LOCATE COMP "sdram_a[9]" SITE "A11";
LOCATE COMP "sdram_a[10]" SITE "B12";
LOCATE COMP "sdram_d[0]" SITE "B6";
LOCATE COMP "sdram_d[1]" SITE "A5";
LOCATE COMP "sdram_d[2]" SITE "A6";
LOCATE COMP "sdram_d[3]" SITE "A7";
LOCATE COMP "sdram_d[4]" SITE "C7";
LOCATE COMP "sdram_d[5]" SITE "B8";
LOCATE COMP "sdram_d[6]" SITE "B5";
LOCATE COMP "sdram_d[7]" SITE "A8";
LOCATE COMP "sdram_d[8]" SITE "D8";
LOCATE COMP "sdram_d[9]" SITE "D7";
LOCATE COMP "sdram_d[10]" SITE "E8";
LOCATE COMP "sdram_d[11]" SITE "D6";
LOCATE COMP "sdram_d[12]" SITE "C6";
LOCATE COMP "sdram_d[13]" SITE "D5";
LOCATE COMP "sdram_d[14]" SITE "E7";
LOCATE COMP "sdram_d[15]" SITE "C5";
LOCATE COMP "sdram_d[16]" SITE "C10";
LOCATE COMP "sdram_d[17]" SITE "D9";
LOCATE COMP "sdram_d[18]" SITE "E11";
LOCATE COMP "sdram_d[19]" SITE "D11";
LOCATE COMP "sdram_d[20]" SITE "C11";
LOCATE COMP "sdram_d[21]" SITE "D12";
LOCATE COMP "sdram_d[22]" SITE "E9";
LOCATE COMP "sdram_d[23]" SITE "C12";
LOCATE COMP "sdram_d[24]" SITE "E14";
LOCATE COMP "sdram_d[25]" SITE "C15";
LOCATE COMP "sdram_d[26]" SITE "E13";
LOCATE COMP "sdram_d[27]" SITE "D15";
LOCATE COMP "sdram_d[28]" SITE "E12";
LOCATE COMP "sdram_d[29]" SITE "B17";
LOCATE COMP "sdram_d[30]" SITE "D14";
LOCATE COMP "sdram_d[31]" SITE "D13";
IOBUF PORT "sdram_clk" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_rasn" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_casn" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_wen" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_ba[0]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_ba[1]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_a[0]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_a[1]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_a[2]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_a[3]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_a[4]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_a[5]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_a[6]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_a[7]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_a[8]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_a[9]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_a[10]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_d[0]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_d[1]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_d[2]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_d[3]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_d[4]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_d[5]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_d[6]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_d[7]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_d[8]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_d[9]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_d[10]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_d[11]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_d[12]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_d[13]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_d[14]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_d[15]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_d[16]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_d[17]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_d[18]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_d[19]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_d[20]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_d[21]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_d[22]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_d[23]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_d[24]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_d[25]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_d[26]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_d[27]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_d[28]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_d[29]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_d[30]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_d[31]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

