# For the iCESugar Board (iCE40UP5K-QFN48)

set_io ngreen 41 #g
set_io nred 40 #r
set_io nblue 39 #b

set_io SW[0] 18
set_io SW[1] 19
set_io SW[2] 20
set_io SW[3] 21

set_io clock   35

set_io RX    4
set_io TX    6

set_io USB_DP       10
set_io USB_DN       9
set_io USB_PULLUP   11

# PMOD 1
set_io P1_1  10
set_io P1_2  6
set_io P1_3  3
set_io P1_4  48
set_io P1_7  47
set_io -pullup yes run  2
set_io P1_9  4
set_io -pullup yes step  9

# PMOD 2
set_io P2_1    46
set_io P2_2    44
set_io P2_3    42
set_io P2_4    37
set_io P2_7    45
set_io P2_8    43
set_io P2_9    38
set_io P2_10    36

# PMOD 3
set_io P3_1     34
set_io P3_2     31
set_io P3_3     27
set_io P3_4     25
set_io P3_7     32
set_io P3_8     28
set_io P3_9     26
set_io P3_10    23

# PMOD 4
set_io P4_1     21
set_io P4_2     20
set_io P4_3     19
set_io P4_4     18

#spi
set_io SPI_SS   16
set_io SPI_SCK  15
set_io SPI_MOSI 17
set_io SPI_MISO 14
